body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h2 {
    color: #369;
}
img {
    border: 3px solid #ccc;
    border-radius: 3px;
    margin: 10px;
}
.thumbnail {
    border: none !important;
}
.caption {
    padding: 9px;
    color: #333333;
    position: absolute;
    bottom: 15px;
    background: url("pixel-black.png") repeat;
    color: #fff !important;
    left: 17px;
    width: 86%;
}
div.description {
    padding-left: 0 !important;
    text-align: right;
}
.description div {
    margin: 5px 0;
}
.results, .search-box {
    margin: 7%;
}